/*HTML5 Reset Stylesheet http://html5doctor.com/html-5-reset-stylesheet***/
html, body, div, h1, h2, h3, p, img,
strong, ul, li, aside, footer, header, nav, section, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}


body {
  line-height:1;
}


aside,footer,header,nav,section {
  display:block;
}


nav ul {
  list-style:none;
}


a {
  margin:0;
  padding:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}
